@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css"; /* Use the Quartz theme or another built-in theme */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */
.body {
  background-color: #b6cce1;
 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #212529;
}